<header class="flex flex-col bg-dark p-5 pl-12 h-[148px]">
  <nav class="mb-5">
    <ul class="flex gap-11 text-2xl text-light">
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">DashBoard</a></li>
      {{#if loggedIn}}
        <li><button id="logoutBtn">Logout</button></li>
      {{else}}
        <li><a href="/login">Login</a></li>
      {{/if}}
    </ul>
  </nav>
  <h1 class="w-max rounded-lg bg-light p-2 text-4xl font-bold text-dark">
    {{#if isDashboard}}
    Your Dashboard
    {{else}}
    The Tech Blog
    {{/if}}
  </h1>
</header>