<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-light">
    {{> header isDashboard=isDashboard}}

    <main class="mx-auto mt-5 w-[93%]">
      {{{body}}}
    </main>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>